@page
@model ZealandZooEksamen.Pages.KalenderNoEventModel
@{
    ViewData["Title"] = "Ingen event";
}

<h1 class="align-content-center">Der er ingen event her.</h1>

<form>
    <div class="form-group">
        <input type="submit" value="Tilbage" class="btn btn-primary" asp-page="Kalender" />
    </div>
</form>