@page
@model ZealandZooEksamen.Pages.TilmeldteCR.IndexTilmeldingModel
@{
}

<h2>Tilmeldte til dette event</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Telefon</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var t in Model.Tilmeldte)
        {
            <tr>
       

                <td>@t.TilmeldingId</td>
                <td>@t.Navn</td>
                <td>@t.Telefon</td>
            </tr>


        }
    </tbody>
</table>