@page
@model ZealandZooEksamen.Pages.TilmeldingCRUD.TilmeldingCreateModel
@{
}

<div class="row">
    <div class="col-md-6 text-black bg-light">
        <form method="post">

          <div class="form-group">
          <input type="hidden" asp-for="@Model.OpretNyhedsbrev.NyhedsbrevId" />
         
          </div>

         <div class="form-group">
          <label>Navn </label><br>
          <input asp-for="@Model.OpretNyhedsbrev.Navn" class="form-control" required /><br />
          </div>

        <div class="form-group">
        <label>Telefon Nr.</label><br>
         <input asp-for="@Model.OpretNyhedsbrev.Telefon" class="form-control" required /><br />
        </div>
        <div class="form-group">
        <input type="submit" value="Tilmeld" asp-page-handler="Opret" />
        </div>

        </form>

    </div>
</div>