@page
@model IndexModel
@{
    ViewData["Title"] = "Zealand Zoo";
}

<div class="text-center">
    <h1> Zealand Zoo</h1>
    <img src="~/images/Zealand Zoo.jpg" class="card-img-top w-25" alt="Zealand Zoo Logo" >

</div>
