@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">hejsa akjbgek</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
    
   <thead>
    <th>Id</th>
    <th>Navn</th>
    <th>Telefon nr</th>
    <th>Deltager</th>
    </thead>
    
    <tbody>
        @foreach (var person in Model.Personer)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.Name</td>
                <td>@person.PhoneNumber</td>
                <td>@person.Attending</td>
            </tr>
        }
    </tbody>
</table>