@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om os";
}
<h1>@ViewData["Title"]</h1>

<p>Denne applikation er lavet i forbindelse med 2. semester eksamen på Datamatiker uddannelsen hos Zealand Roskilde 2023.</p>

<p>Applikationen er lavet af</p>
<p>Kader Kivrak</p>
<p>Mathilde Juul</p>
<p>Magnus Næhr</p>

<a href="http://bbksolutions.dk/">Bjørn Kristensen</a>

