@page
@model ZealandZooEksamen.Pages.TilmeldingModel
@{
}
<h1>Tilmelding side</h1>

<form method="post">
            <div class="col-auto">
                <input type="submit" value="Tilmeld" asp-page-handler="Tilmelding" />
            </div>
        </form>

@*<form method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="Name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="Email" required>

    <button type="submit">Subscribe</button>
</form>
*@