@page
@model ZealandZooEksamen.Pages.TilmeldingModel
@{
}
<h1>Tilmelding side</h1>

<form method="post">
            <div class="col-auto">
                <input type="submit" value="Tilmeld" asp-page-handler="Tilmelding" />
            </div>
        </form>